.profile-wrapper {
  background-color: rgb(220, 241, 241);
  margin-top:8vh;
 
}

.profile-container {
  display: flex;
}

.profile-container > .left-part {
  flex-basis: 80%;
}

.profile-container > .right-part {
  flex-basis: 20%;
  height:fit-content;

  padding: 2%;
  background-color: white;
  margin-top: 2vh;
  margin-right: 2vw;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.right-part > .main-content {
  display: flex;
  flex-direction: column;

  gap: 3vh;
  padding: 5vh 4vw 5vh 4vw;
}

.main-content > .common {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1vh;
}

.main-content > .logout > button {
  background-color: blue;
  color: white;
  padding: 8px 20px 8px 20px;

  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.main-content > .edit-profile > button {
  background-color: white;
  border: none;
  color: grey;
  cursor: pointer;
}

.main-content > .delete-account > button {
  background-color: red;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
}

.avatar {
  display: block;
  margin-left: 2vw;
}

.special {
  cursor: pointer;
  color: grey;
}

.User-Name {
  margin-left: 1vw;
}
